
# Kowshik P 

## Data Science 
## -----------------------------------------------------------------------------
## Concept - Univariate Data Analysis(Qualitative and Quantitative)
## Submitted date on 07-May-2022
## -----------------------------------------------------------------------------

## Importing the libraries required for this project.

In [1]:
import pandas as pd;
import numpy as np;
import matplotlib.pyplot as mat;

## Convert the raw file(.csv) to table format.

In [2]:
rawData = pd.read_csv("Placement.csv");

rawData

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

## Finding data types for each column using the info() function.

In [3]:
rawData.info();

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
sl_no             215 non-null int64
gender            215 non-null object
ssc_p             215 non-null float64
ssc_b             215 non-null object
hsc_p             215 non-null float64
hsc_b             215 non-null object
hsc_s             215 non-null object
degree_p          215 non-null float64
degree_t          215 non-null object
workex            215 non-null object
etest_p           215 non-null float64
specialisation    215 non-null object
mba_p             215 non-null float64
status            215 non-null object
salary            148 non-null float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

## Finding data type for individual column using the dtypes function.

In [4]:
rawData["workex"].dtypes

dtype('O')

In [5]:
rawData["degree_p"].dtypes

dtype('float64')

## Obtain columns from the "Placement" file

In [6]:
rawData.columns

Index(['sl_no', 'gender', 'ssc_p', 'ssc_b', 'hsc_p', 'hsc_b', 'hsc_s',
       'degree_p', 'degree_t', 'workex', 'etest_p', 'specialisation', 'mba_p',
       'status', 'salary'],
      dtype='object')

## Segregate Qual and Quan for the respective columns

In [7]:
for columnInformation in rawData.columns:
    
    print(columnInformation);
    
    if(rawData[columnInformation].dtypes == "O"):
        print("Qualitative");
    else:
        print("Quantitative");

sl_no
Quantitative
gender
Qualitative
ssc_p
Quantitative
ssc_b
Qualitative
hsc_p
Quantitative
hsc_b
Qualitative
hsc_s
Qualitative
degree_p
Quantitative
degree_t
Qualitative
workex
Qualitative
etest_p
Quantitative
specialisation
Qualitative
mba_p
Quantitative
status
Qualitative
salary
Quantitative

## Set array for Qual and Quan

In [8]:
qual_Data = []

quan_Data = []


#qual_Data, quan_Data

## Append qual an quan data to the respective list.

In [9]:

for columnInformation in rawData.columns:
    
    print(columnInformation)
    
    if(rawData[columnInformation].dtypes == "O"):
        
        qual_Data.append(columnInformation)
        
    else:
        
        quan_Data.append(columnInformation)

sl_no
gender
ssc_p
ssc_b
hsc_p
hsc_b
hsc_s
degree_p
degree_t
workex
etest_p
specialisation
mba_p
status
salary

## Seperated Quantitative data columns(Numeric columns)

In [10]:
quan_Data

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

## Total length of Quantitative data.

In [11]:
len(quan_Data)

7

## Seperated Qualitative data columns(Categoric columns)

In [12]:
qual_Data

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

## Total length of Qualitative data.

In [13]:
len(qual_Data)

8

## Creating a function

In [14]:
def putQualitativeQuantitative():
    
    qual_Data = [];

    quan_Data = [];

    for columnInformation in rawData.columns:

        print(columnInformation);

        if(rawData[columnInformation].dtypes == "O"):

            qual_Data.append(columnInformation);

        else:

            quan_Data.append(columnInformation);
            
    return qual_Data, quan_Data;

putQualitativeQuantitative();

sl_no
gender
ssc_p
ssc_b
hsc_p
hsc_b
hsc_s
degree_p
degree_t
workex
etest_p
specialisation
mba_p
status
salary

## Assign function to the respective variables.

In [15]:
qualitativeValue, quantitativeValue = putQualitativeQuantitative();

sl_no
gender
ssc_p
ssc_b
hsc_p
hsc_b
hsc_s
degree_p
degree_t
workex
etest_p
specialisation
mba_p
status
salary

In [16]:
qualitativeValue, quantitativeValue

(['gender',
  'ssc_b',
  'hsc_b',
  'hsc_s',
  'degree_t',
  'workex',
  'specialisation',
  'status'],
 ['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary'])

## Qualitative columns

In [17]:
print(qualitativeValue);

['gender', 'ssc_b', 'hsc_b', 'hsc_s', 'degree_t', 'workex', 'specialisation', 'status']

## Quantitative columns

In [18]:
print(quantitativeValue);

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

## Set parameter(argument) for the respective function.

In [19]:
def putQualitativeQuantitative(rawData):
    
    qual_Data = [];

    quan_Data = [];

    for columnInformation in rawData.columns:

        print(columnInformation);

        if(rawData[columnInformation].dtypes == "O"):

            qual_Data.append(columnInformation);

        else:

            quan_Data.append(columnInformation);
            
    return qual_Data, quan_Data;

putQualitativeQuantitative(rawData);

sl_no
gender
ssc_p
ssc_b
hsc_p
hsc_b
hsc_s
degree_p
degree_t
workex
etest_p
specialisation
mba_p
status
salary

## Creating a class for the respective function.

In [20]:
class univariateStudentData():
    
    def putQualitativeQuantitative(rawData):
    
        qual_Data = [];

        quan_Data = [];

        for columnInformation in rawData.columns:

            print(columnInformation);

            if(rawData[columnInformation].dtypes == "O"):

                qual_Data.append(columnInformation);

            else:

                quan_Data.append(columnInformation);

        return qual_Data, quan_Data;

    putQualitativeQuantitative(rawData);

sl_no
gender
ssc_p
ssc_b
hsc_p
hsc_b
hsc_s
degree_p
degree_t
workex
etest_p
specialisation
mba_p
status
salary